/*
Syntax error: Undefined mixin 'bottom-border'.
        on line 33 of spil_virtual_currency/sass/currency-faq.scss, in `bottom-border'
        from line 33 of spil_virtual_currency/sass/currency-faq.scss

28: 	width: 230px;
29: 	top: -45px;
30: }
31: 
32: .faq-toggled-content {
33: 	@include bottom-border;
34: 	padding: 10px 10px 5px 30px;
35: 	text-align: left
36: }
37: 
38: .faq-toggled-content p {

Backtrace:
spil_virtual_currency/sass/currency-faq.scss:33:in `bottom-border'
spil_virtual_currency/sass/currency-faq.scss:33
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:170:in `visit_mixin'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:18:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:18:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:18:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/tree/root_node.rb:20:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/engine.rb:299:in `_render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/engine.rb:246:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:200:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/plugin/compiler.rb:234:in `watch'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/plugin.rb:107:in `method_missing'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/exec.rb:431:in `watch_or_update'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/exec.rb:302:in `process_result'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/exec.rb:41:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/lib/sass/exec.rb:21:in `parse!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.1.17/bin/sass:8:in `<top (required)>'
C:/Ruby193/bin/sass:23:in `load'
C:/Ruby193/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'bottom-border'.\A         on line 33 of spil_virtual_currency/sass/currency-faq.scss, in `bottom-border'\A         from line 33 of spil_virtual_currency/sass/currency-faq.scss\A \A 28: 	width: 230px;\A 29: 	top: -45px;\A 30: }\A 31: \A 32: .faq-toggled-content {\A 33: 	@include bottom-border;\A 34: 	padding: 10px 10px 5px 30px;\A 35: 	text-align: left\A 36: }\A 37: \A 38: .faq-toggled-content p {"; }
