#currency-infopanel-1, #currency-infopanel-2 {
  width: 262px;
  min-height: 321px;
  position: relative;
  top: 10px;
  float: left;
  text-align: center; }

#currency-infopanel-1, #currency-product-list {
  margin-right: 30px; }

.gradient-box-bg {
  padding: 10px 25px;
  min-height: 300px;
  width: 210px;
  margin: 0 1px 1px; }

.currency-foreground-image {
  position: absolute;
  bottom: 2px;
  left: 0;
  z-index: 50; }

.reflection {
  position: absolute;
  bottom: -18px;
  width: 100%;
  left: 0;
  height: 17px;
  border-radius: 10px 10px 0 0!important; }

.arrow-base {
  left: -31px;
  top: -13px;
  position: absolute;
  height: 25px;
  width: 13px; }
