.light-effects{
	position: absolute;
	width: 255px;
	height: 255px;
	left: 3px;;
	overflow: hidden;
	border: none 0;
	z-index:40;
	bottom:0
}


@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes rotate {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}

.light-effects{
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         80000ms; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-transition-timing-function: linear;
	
	-moz-animation-name: 				rotate; 
	-moz-animation-duration: 			80000ms; /* 80 seconds */
	-moz-animation-iteration-count:	    infinite; 
	-moz-animation-timing-function: 	linear;
	
	-ms-animation-name: 				rotate; 
	-ms-animation-duration: 			80000ms; /* 80 seconds */
	-ms-animation-iteration-count:	    infinite; 
	-ms-animation-timing-function: 		linear;

}
