.transaction-history {
	float:left;
	width: 473px;
}

.transaction-history.outer-rounded {
	background-color:#FFF;
	padding: 8px;
	
}
	
.transaction-icon {
	background: url(../images/transaction-icon.png) no-repeat scroll 0 0 transparent;
	height: 22px;
	width: 31px;
	display: inline-block;
}

.transaction-block {
	text-align:left;
	padding: 10px 5px;
}

.transaction-block img {
	float: left;
	margin-right: 10px;
}

.coins-event {
	float: right;
	margin-top: -17px;
	font-weight: bold;
	font-size: 120%;
}

.coins-event.addition{
	color:#379033;
}

.coins-event.subtraction{
	color:#910201;
}

.plus-icon {
	 background-color:#379033;
	 color:#FFF;
	 padding: 1px 4px;
}

.minus-icon {
	 background-color:#910201;
	 color:#FFF;
	 padding: 1px 4px;
}

.prev-transactions,
.next-transactions {
	cursor: pointer;
	font-weight:bold;
}

.transactions-nav {
	float:left;
	margin: 10px 5px;
}