/* +++++++++++++++++++++++ Layout ++++++++++++++++++++++++++ */

#currency-main {
	padding: 0 0 20px;
	min-height: 460px;
	position: relative;
	border-bottom: 1px dotted #CCC;
	margin: 22px 10px 0;
}

#currency-left-content {
	border-left: 1px dotted #CCC;
	width: 447px;
	float: left;
}

#currency-right-content {
	width: 450px;
	float: left;
	}