@import "rounded", 
		"colors3",
		"typography", 
		"animation", 
		"shapes", 
		"buttons";

body {
	background-image: url('http://static2.spilcdn.com/tw/img/_/layout/body_bg.png');
}
		
.gradient-wrapper {
	@include gradient-wrapper;
	@include outer-rounded;
}

/* corners */

.outer-rounded {
	@include outer-rounded;
}

.inner-rounded {
	@include inner-rounded;
}

a.inner-rounded {
	border: 1px solid $medium;
	background-color: $light;
	&:hover {
		border: 1px solid $dark;
		box-shadow: 0px 0px 3px $dark;
		background-color: $primary-cta;
		}
}

.gradient-box-bg{
	@include bg-gradient;
	border: 5px solid #FFF;
}

.inner-box-bg {
	@include outer-rounded;
	@include inner-box-bg;
}

.box-bg{
	@include box-bg;
}

/* shape colors */

.arrow-e {
	@include arrow-e;
	border-left-color: $medium;	
}

.arrow-base {
	background-color:$medium;
 }

.reflection {
	@include reflection;
}

.box-title {
	@include box-title;
	margin: -10px -26px 20px;
	padding: 10px;
	@include outer-rounded(10px 10px 0 0);
	text-align: center;
	}
	
/* currency faq */

.faq-toggled-content {
	@include bottom-border;
}

.arrow-e-small {
	@include arrow-e-small;
	border-left-color: $dark;
}

.currency-faq-title {
	color: $dark;
}



